{
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:node/recommended",
    "plugin:promise/recommended"
  ],
  "globals": {
    "require": true
  },
  "env": {
    "es6": true,
    "jquery": true,
    "commonjs": true,
    "amd": true
  },
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }]
  }
}