{
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:node/recommended",
    "plugin:promise/recommended"
  ],
  "env": {
    "jquery": true
  },
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"]
  }
}