extends tmp/_standard.pug

block title
  title Стартовая страница

block content
  main.content
    .container
      .pure-g
        .pure-u-1-3
          p Thirds
        .pure-u-1-3
          p Thirds
        .pure-u-1-3
          p Thirds